* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(stardust.png);
	color: #ffffea;
}

h1 {
	line-height: 40px;
	font-size: 30px;
	margin-top: 20px;
}

.container {
	width: 960px;
	margin: auto;
}

.header {
	height: 50px;
	background: rgba(255,255,220, 0.5);
	border-bottom: 1px solid #ffffaa;

	color: #333;
}

.header h3 {
	display: block;
	float: left;
	line-height: 50px;
	color: #333;
}

.login {
	float: right;
	margin-top: 10px;
}

input {
	display: inline-block;
	background: #ffffea;
	width: 150px;
	height: 20px;
	border: 1px solid #ffffaa;
}

.btn {
	width: 50px;
	height: 25px;
	background: #626168;
	border: none;

	color: #ffffea;
	cursor: pointer;
}

.btn:hover {
	background: #77767b;
}

.contents {
	margin-top: 30px;
	background: #ffffea;
	width: 300px;
	min-height: 400px;

	border: 1px solid #ffffaa;
	border-radius: 3px;
	color: #333;

	padding: 10px;

	float: left;
}

.inner {
	margin-top: 10px;
	margin-left: 20px;
}

ul {
	list-style: none;
	margin-left: 10px;
}

.descr {
	width: 500px;
	margin-left: 50px;
	min-height: 300px;

}

.expand{
	text-decoration: none;
	font-weight: bold;
}